<div class="dashboard-container">
  <!-- Sidebar -->
  <div class="sidebar">
    <div class="logo">
      <img src="assets/images/logo.png" alt="Logo">
    </div>

    <nav class="sidebar-nav">
      <ul>
        <li [class.active]="isActiveRoute('/admin/dashboard')">
          <a routerLink="/admin/dashboard">
            <i class="icon-dashboard"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li [class.active]="isActiveRoute('/admin/clientes')">
          <a routerLink="/admin/clientes">
            <i class="icon-clientes"></i>
            <span>Clientes</span>
          </a>
        </li>
        <li [class.active]="isActiveRoute('/admin/contas')">
          <a routerLink="/admin/contas">
            <i class="icon-contas"></i>
            <span>Contas</span>
          </a>
        </li>
        <li [class.active]="isActiveRoute('/admin/servicos')">
          <a routerLink="/admin/servicos">
            <i class="icon-servicos"></i>
            <span>Serviços</span>
          </a>
        </li>
        <li [class.active]="isActiveRoute('/admin/compras')">
          <a routerLink="/admin/compras">
            <i class="icon-compras"></i>
            <span>Compras</span>
          </a>
        </li>
        <li [class.active]="isActiveRoute('/admin/idvs')">
          <a routerLink="/admin/idvs">
            <i class="icon-idvs"></i>
            <span>IDVs</span>
          </a>
        </li>
        <li [class.active]="isActiveRoute('/admin/services')">
          <a routerLink="/admin/services">
            <i class="icon-services"></i>
            <span>Services</span>
          </a>
        </li>
        <li [class.active]="isActiveRoute('/admin/my-privileges')">
          <a routerLink="/admin/my-privileges">
            <i class="icon-privileges"></i>
            <span>My Privileges</span>
          </a>
        </li>
        <li [class.active]="isActiveRoute('/admin/setting')">
          <a routerLink="/admin/setting">
            <i class="icon-setting"></i>
            <span>Setting</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Main Content - Apenas o router-outlet -->
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
