<header>
  <div class="logo-container">
      <a href="/" routerLink="/">
  <img src="assets/img/logo.png" alt="Logo CUEI" class="logo">
</a>
<div class="logo-container">
  <a href="/" routerLink="/" class="logo-text">AGÊNCIA CUEI</a>
  <a href="/" routerLink="/" class="logo-subtext">Soluções Digitais</a>
</div>
  </div>
  <nav>
      <ul>
          <li><a href="#projetos">Projetos</a></li>
          <li><a href="#contato">Contato</a></li>
          <li><a href="/sobre-nos">Sobre nós</a></li>
          <li><a href="/login">Login</a></li>
      </ul>
  </nav>
</header>
