<!-- Novo Header -->
<header>
  <div class="logo-container">
    <a routerLink="/">
      <img src="Vector.svg" alt="Logo CUEI" class="logo">
    </a>
    <div class="logo-text-container">
      <a routerLink="/" class="logo-text">AGÊNCIA CUEI</a>
      <a routerLink="/" class="logo-subtext">Marketing | Design | Web Sites</a>
    </div>
  </div>
  <nav>
    <ul>
      <li><a routerLink="/portifolio" routerLinkActive="active">Projetos</a></li>
      <li><a routerLink="/contato" routerLinkActive="active">Contato</a></li>
      <li><a routerLink="/sobre-nos" routerLinkActive="active">Sobre nós</a></li>
      <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
    </ul>
  </nav>
</header>
