

<body>
    <div class="container">
        <h1>Sobre a Cuei</h1>

        <p><strong>Alavancando Empresas Através de Design e Marketing Digital</strong></p>
        <p>Bem-vinda à Cuei, o ponto de encontro entre design e marketing digital que potencializa negócios na canção online. Somos uma cooperativa apaixonada, formada por três mentes criativas unidas para transformar ideias em realidade digital.</p>
        <p>Moderna e resultadista, a experiência de cada integrante é impulsionada por uma abordagem cooperativa que garante comprometimento excepcional e resultados impressionantes para nossos clientes.</p>
        <p>Desenvolvemos para empresas e pessoas comuns identidades visuais marcantes, sites de alta conversão e estratégias de marketing assertivas, com o objetivo de alavancar o potencial empresarial através da sinergia entre design coerente e estratégias de marketing eficazes.</p>

        <p>Se você busca design excepcional, marketing estratégico e o poder de ampliar sua presença empresarial no mundo digital, a Cuei é seu parceiro ideal. Junte-se a nós para trilhar um caminho rumo ao sucesso digital.</p>

        <h2>Aumente Sua Visibilidade Online Conosco</h2>

        <p>Na Cuei, estamos mais do que prontos para ser seu parceiro digital. Se você está procurando design excepcional, marketing estratégico e a capacidade de alavancar seu potencial empresarial através do ambiente digital, estamos aqui para você. Junte-se a nós nessa jornada e conduza novos horizontes online. Design, Marketing, Alavancagem Empresarial: Cuei. O seu Caminho para o Sucesso Digital.</p>

        <h2>Nosso Time de Especialistas: Profissionais com experiência única:</h2>

        <ul>
            <li>
                <div class="team-member">
                    <div class="team-member-name">Gustavo Damas:</div>
                    <div class="team-member-description">Nosso braço técnico por trás de cada pixel perfeito. Gustavo é o mestre do desenvolvimento web, um artista na criação de experiências de usuário imersivas e um habilidoso gestor de bancos de dados. Ele é o mestre por trás da funcionalidade e da estética em harmonia.</div>
                </div>
            </li>
            <li>
                <div class="team-member">
                    <div class="team-member-name">Leonardo Taveira:</div>
                    <div class="team-member-description">Transformando ideias em imagens impressionáveis, Leo une o seu design meticuloso, que domina a arte da ilustração à edição de vídeos. Com sua criatividade e habilidades em marketing de conteúdo, ele monta visuais verdadeiramente cativantes.</div>
                </div>
            </li>
            <li>
                <div class="team-member">
                    <div class="team-member-name">Sávio Lage:</div>
                    <div class="team-member-description">O arquiteto das estratégias digitais. Sávio é o especialista em marketing com resultados. Com uma experiência sólida em consultoria de crescimento empresarial e tráfego pago, ele é o guia que direciona nossos clientes rumo ao sucesso digital.</div>
                </div>
            </li>
            <li>
                <div class="team-member">
                    <div class="team-member-name">Jonathan Barbosa:</div>
                    <div class="team-member-description">Especialista em Front End e design UX, Jonathan transforma conceitos em interfaces intuitivas e atraentes. Com um olhar apurado para usabilidade e estética, ele cria experiências digitais que encantam os usuários e potencializam a conversão. Sua habilidade de combinar código limpo com design centrado no usuário torna cada projeto não apenas visualmente impressionante, mas também extremamente funcional.</div>
                </div>
            </li>
        </ul>
    </div>
</body>

