/* Portfolio Section */
.portfolio {
  padding: 50px 0;
}

.portfolio-container {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.portfolio-carousel-wrapper {
  overflow: hidden; /* Garante que as imagens que saem do limite não sejam visíveis */
  width: 100%;
}

.portfolio-carousel {
  display: flex; /* Exibe os itens lado a lado */
  transition: transform 0.3s ease-in-out; /* Animação para o movimento do carrossel */
    margin-left: 50px;
  margin-right: 60px;
}

.portfolio-item {
  flex: 0 0 25%; /* 25% da largura total, pois queremos exibir 4 imagens por vez */
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-image {
  width: 100%; /* A imagem ocupa toda a largura do item */
  height: auto;
  object-fit: cover; /* Garante que a imagem preencha o espaço sem distorção */
  border-radius: 5px; /* Borda arredondada (opcional) */
    margin-left: 50px;
  margin-right: 50px;
}

.portfolio-nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 10;
}

.portfolio-nav-button.prev {
  left: 10px;
}

.portfolio-nav-button.next {
  right: 10px;
}

.portfolio-indicators {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.portfolio-indicator {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.portfolio-indicator.active {
  background-color: #000;
}

.portfolio .section-title {
  padding-left: 150px;
  padding-right: 40px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Adiciona a margem de 150px acima da imagem */
.portfolio-image {
  margin-top: 150px; /* Margem de 150px acima da imagem */
  width: 90%; /* A imagem ocupa toda a largura do item */
  height: auto;
  object-fit: cover; /* Garante que a imagem preencha o espaço sem distorção */
  border-radius: 5px; /* Borda arredondada (opcional) */
  margin-left: 150px;
}


@media (min-width: 992px) {
  .portfolio .container {
    padding-left: 150px;
    padding-right: 150px;
  }
}
