<!-- Sobre Section -->
<section class="about" id="sobre-nos">
    <div class="container">
        <h2 class="section-title">Sobre a Cuei</h2>
        <div class="about-content">
            <div class="about-text">
                <p>Bem-vindo à Cuei, o ponto de encontro entre design e marketing digital que potencializa negócios no cenário online. Moldamos marcas notáveis e estratégias de marketing poderosas, impulsionados por uma abordagem cooperativa que garante comprometimento excepcional e resultados impressionantes para nossos clientes.</p>
            </div>
            <div class="about-image">
                <img src="logo-cuei.png" alt="Logo Cuei">
            </div>
        </div>
    </div>
</section>
