<!-- Services Section -->
<section class="services">
  <div class="container">
    <h2 class="section-title">Serviços</h2>
    <div class="services-container">
      <div class="services-grid">
        <div class="service-card">
          <div class="service-icon">
            <img src="Criativos.svg" alt="Ícone Criativas">
          </div>
          <h3 class="service-title">Criativos</h3>
        </div>
        <div class="service-card">
          <div class="service-icon">
            <img src="Sites.svg" alt="Ícone Sites">
          </div>
          <h3 class="service-title">Sites e Landing Page</h3>
        </div>
        <div class="service-card">
          <div class="service-icon">
            <img src="identidade.svg" alt="Ícone Identidade Visual">
          </div>
          <h3 class="service-title">Identidade Visual</h3>
        </div>
        <div class="service-card">
          <div class="service-icon">
            <img src="social.svg" alt="Ícone Gestão de Social Media">
          </div>
          <h3 class="service-title">Gestão de Social Media</h3>
        </div>
        <div class="service-card">
          <div class="service-icon">
            <img src="menbros.svg" alt="Ícone Área de Membros">
          </div>
          <h3 class="service-title">Área de Membros</h3>
        </div>
        <div class="service-card">
          <div class="service-icon">
            <img src="lancamentos.svg" alt="Ícone Lançamentos">
          </div>
          <h3 class="service-title">Lançamentos</h3>
        </div>
        <div class="service-card">
          <div class="service-icon">
            <img src="Thumbnails.svg" alt="Ícone Thumbnails">
          </div>
          <h3 class="service-title">Thumbnails</h3>
        </div>
      </div>
    </div>
  </div>
</section>
