<app-header></app-header>
<app-primeira-secao></app-primeira-secao>
<app-segunda-secao-servicos></app-segunda-secao-servicos>
<app-terceira-secao-portfolio></app-terceira-secao-portfolio>
<app-setima-secao-beneficios></app-setima-secao-beneficios>
<app-sexta-secao-solucoes></app-sexta-secao-solucoes>
<app-oitava-secao-sobre></app-oitava-secao-sobre>
<app-nona-secao-duvidas></app-nona-secao-duvidas>
<app-quarta-secao-servicos-individuais></app-quarta-secao-servicos-individuais>
<app-footer></app-footer>
