<footer>
  <div class="container footer-container">
      <div class="footer-logo">
          <img src="Vector.svg" alt="Logo CUEI" class="logo">
          <div class="logo-text">AGÊNCIA CUEI</div>
      </div>

      <div class="footer-links">
          <ul>
              <li><a href="#projetos">Projetos</a></li>
              <li><a href="#contato">Contato</a></li>
              <li><a href="#sobre-nos">Sobre nós</a></li>
          </ul>
      </div>

      <div class="footer-contact">
          <p>Cuei Contato</p>
          <p>cuei&#64;contato.com.br</p>
            <div class="social-links">
              <a href="#" class="social-icon"><img src="facebook-white.svg" alt="Facebook"></a>
              <a href="#" class="social-icon"><img src="instagram-white.svg" alt="Instagram"></a>
              <a href="#" class="social-icon"><img src="linkedin-white.svg" alt="LinkedIn"></a>
          </div>
      </div>
  </div>
</footer>
