<!-- footer.component.html -->
<footer>
  <div class="container footer-container">
    <div class="footer-links">
      <h3>Links Úteis</h3>
      <ul>
        <li><a [routerLink]="['/portifolio']" routerLinkActive="active">Projetos</a></li>
        <li><a [routerLink]="['/contato']" routerLinkActive="active">Contato</a></li>
        <li><a [routerLink]="['/sobre-nos']" routerLinkActive="active">Sobre nós</a></li>
        <li><a [routerLink]="['/termos-servico']" routerLinkActive="active">Termos de Serviço</a></li>
        <li><a [routerLink]="['/politica-privacidade']" routerLinkActive="active">Política de Privacidade</a></li>
      </ul>
    </div>

    <div class="footer-logo">
      <a [routerLink]="['/']" class="logo-link">
        <img src="logoL.png" alt="Logo CUEI" class="logo">
      </a>
      <a [routerLink]="['/']" class="logo-text-link">AGÊNCIA CUEI</a>
      <p>Nos acompanhe nas redes sociais!</p>
      <div class="social-links">
        <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-behance"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-pinterest"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
        <a href="https://wa.me/5531988664718" target="_blank" class="social-icon"><i class="fab fa-whatsapp"></i></a>
      </div>
    </div>

    <div class="footer-contact">
      <h3>Fale Conosco</h3>
      <p>Email: contatocuei.com.br</p>
      <p>WhatsApp: +55 (31) 9 8866-4718</p>
    </div>
  </div>
</footer>
